.auth-layout{
    height: 100vh;
    &__header{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: 20%;
        
        color: $-Orange-500;
        @include auth-layout-header;

        justify-content: center;
        column-gap: 40px;

        .img-container{
            display: flex;
            align-items: center;
            width: 28%;
            min-width: fit-content;
        }
        p{
            width: 28%;
            align-self: center;
            min-width: 500px;

            @media only screen and (max-width: 900px) {
                text-align: center;
            }
        }
        @media only screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__content{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: 70%;
        justify-content: center;
        column-gap: 40px;

        &__form{
            width: 28%;
            min-width: 360px;
            display: flex;
            align-items: center;
        }

        .banner-container{
            display: flex;
            align-items: center;

            @media only screen and (max-width: 1200px) {
                img{
                    width: 40vw;
                }
            }
            
            @media only screen and (max-width: 900px) {
                display: none;
            }
        }
        
    }
}