//TEXT COLOR

  //////////////////////////
 //       ORANGE         //
//////////////////////////
$-Orange-300: #F7A77A;
$-Orange-400: #F58A4D;
$-Orange-500: #F26D21;


  //////////////////////////
 //       GRAY           //
//////////////////////////
$-Gray-300: #929292;
$-Gray-400: #6D6D6D;
$-Gray-500: #494949;



