.recruit{
    height: 100%;

    margin: 0 auto;

    &__title{
        max-width: 530px;

        font-family: Roboto;
        font-size: 32px;
        font-weight: 700;
        text-align: center;

        color: $-Gray-500;

        margin: 54px auto;

        span{
            color: $-Orange-500
        }
        &__sub{
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
            text-align: center;

            margin-top: 12px;
        }
    }
    
    &__recruit-cards-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__recruit-cards{
        display: grid;
        grid-template-columns: repeat(3, minmax(320px, 1fr));
        grid-row-gap: 24px;
        column-gap: 24px;
        width: 80%;

        @media only screen and (max-width: 840px) {
            width: fit-content;
        }
        @media only screen and (max-width: 1200px) {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
    }

    &__not-found-banner{
        width: fit-content;
        margin: 0 auto;
    }
}