.submit-test-form{
    width: 460px;
    height: 220px;

    background-color: #FFFFFF;

    padding: 46px 14px;
    box-sizing: border-box;

    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;

    &__title{
        font-family: 'Roboto';
        font-size: 26px;
        font-weight: 700;
        text-align: center;

        color: $-Orange-500;

        margin-bottom: 12px;
    }

    &__content{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        text-align: center;

        color: #666666;
        margin-bottom: 24px;
    }

    &__btn-group{
        display: flex;
        column-gap: 12px;
        align-items: center;
        justify-content: center;

        .btn{
            width: 115px;
            height: 44px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            border: none;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
            -o-transition: all ease 0.5s;

            &.close-submit-form{
                background-color: #FFFFFF;
                color: $-Gray-500;

                &:hover{
                    background-color: #dfdfdf;
                }
            }

            &.accept-submit-form{
                background-color: $-Orange-500;
                color: #FFFFFF;

                &:hover{
                    background-color: $-Orange-400;
                }
            }

            
        }
    }
}